


table {
    background: #ebe1c7;
	border: 1px solid black;
	font-family: Papyrus;
	text-align: center
}


td {
	padding-top: 25px;
	border: 1px solid black;
}

th{
  color: black;
  background: #f2d688;
  border: 1px solid black;
}

tr {
	padding-top: 10px;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D; /* Green */
}

